body {
  max-width: 760px;
  /* margin: auto; */
}

div {
  text-align: center;
  line-height: 100px;
}

#a {
  height: 75px;
  width: 480px;
  line-height: 75px;
  border: 1px solid black;
  background-color: lightblue;
}

#b {
  height: 150px;
  width: 480px;
  line-height: 150px;
  border: 1px solid black;
  background-color: lightgreen;
}

.cd {
  height: 125px;
  width: 480px;
  line-height: 125px;
  float: left;
  border: 1px solid black;
  background-color: lightpink;
}

.efgh {
  height: 250px;
  width: 240px;
  line-height: 250px;
  float: left;
  border: 1px solid black;
  background-color: lightsalmon;
}

#i {
  height: 80px;
  width: 480px;
  line-height: 80px;
  border: 1px solid black;
  background-color: lightgray;
}