@media only screen and (min-width:767px) {
  body {
    max-width: 960px;
    margin: auto;
  }

  #a {
    height: 100px;
    width: 960px;
    line-height: 100px;
    background-color: blue;
  }

  #b {
    height: 600px;
    width: 200px;
    line-height: 600px;
    float: left;
    background-color: green;
  }

  .cd {
    height: 200px;
    width: 380px;
    line-height: 200px;
    display: inline-block;
    background-color: hotpink;
  }

  .efgh {
    height: 250px;
    width: 190px;
    line-height: 250px;
    background-color: orange;
  }

  #i {
    height: 150px;
    width: 760px;
    line-height: 150px;
    background-color: darkslategray;
  }

  #cdefghi {
    display: relative;
    float: right;
  }
}