div {
  text-align: center;
  line-height: 100px;
}

@media only screen and (min-width:767px) {
  body {
    background-color: lightgray;
    max-width: 960px;
    margin: auto;
  }

  #a {
    height: 100px;
    width: 960px;
    line-height: 100px;
  }

  #b {
    height: 600px;
    width: 200px;
    line-height: 600px;
    float: left;
  }

  .cd {
    height: 200px;
    width: 380px;
    line-height: 200px;
    display: inline-block;
  }

  .efgh {
    height: 250px;
    width: 190px;
    line-height: 250px;
  }

  #i {
    height: 150px;
    width: 760px;
    line-height: 150px;
  }

  #cdefghi {
    display: relative;
    float: right;
  }
}